.git
.gitignore
.idea
.vscode
.DS_Store
*.swp
*.swo
*~

# Secrets
secrets
secrets/.service_key
.service_key
.widget_code_private

.env
*.log
logs/
node_modules/
vendor/
*.tar
*.tar.gz
*.rar
*.zip
*.7z
.github/
secrets/.service_key
.service_key.*


